In [ ]:
pip install pymysql --------------------------can be used as (import pymysql)
mysql -u root -p
create database jk;
drop database jk;
show databases;

In [ ]:
                Data types
int 
float
varchar     2000
char    256
blob
lob
long

                Constraints
primary key --only one in a table-------------if there are more than one,they are called composite keys
foreign key --- a table can contain many foreign keys
default 
null 
unique

            TO make a table::::

create table name(
fieldname datatype constraint,                                constraints are optional
fieldname datatype constraint,
fieldname datatype constraint,
fieldname datatype constraint,
fieldname datatype constraint
...)

create table emp(
empno int primary key,
ename varchar(30),
salary float);

            For inserting in a table:::::
1 WAY:: insert into tname value(1,'ram',2000);
2 WAY:: insert into emp(empno,ename,salary)
        values(1,'Ram',2222)

            To view the records in table:::
1 select fieldname1,...or*(all field) from tab1,tab2... where condition
2 order by fieldname1,fn2..
3 group by fieldname
4 having condition                       #Having cannot be alone,It is always along with group by



Home work::
        create table with 10-15 rows,with some of the records similar

        LAyout::
                empno
                ename
                salary
                design
                deptno----10,20,30

# 19 feb

In [ ]:
select sum(salary) from kam
group by deptno
;

select sum(salary) from kam
group by deptno having sum(salary)>10000

In [ ]:
select * from emp where ename like 'A%';
select * from emp where ename like '_a%';

In [ ]:
delete from emp where empno=1;

In [ ]:
update kam set salary=salary+salary*10/100 where empno=1;

In [ ]:
create table login(
userid varcahr(30) primary key,
password varchar(30));

from pymysql import *
con = connect(db='test',user='root',password='password',host='localhost')
print(con)