In [6]:
for x in range(1,10):                    #Continue statement
    if x==5:   
        continue
    print(x,end='')

12346789

In [7]:
for x in range(1,10):                    #Break Statement
    if x==5:
        break
    print(x,end='')

1234

In [8]:
for x in range(1,10):                    #Pass Statement (Django people use a lot)
    if x==5:
       pass
    print(x,end='')

123456789

In [3]:
for x in range(2,6):
    print("**")

**
**
**
**

In [5]:
for i in range(1,6):
    for x in range(1,i+1):
        print(" ",end='')
    for y in range(1,i+1):
        print("*",end='')
    print()

 *
  **
   ***
    ****
     *****

In [34]:
for i in range(1,10):
    for x in range(1,i+1):
        if i<=5:
            print(" ",end='')
        elif i>5:
            for l in range(10-x):
                print(" ",end='')
                
    for y in range(1,i+1):
        if y==6:
            break
        print("*",end='') 

    for k in range(4,0,-1):
        print(" ",end='')
    for z in range(4,0,-1):
        print("*",end='')
    print()

 *    ****
  **    ****
   ***    ****
    ****    ****
     *****    ****
                                       *****    ****
                                          *****    ****
                                            *****    ****
                                             *****    ****

In [37]:
for i in range(1,10):
    for x in range(1,i+1):
        if i<=5:
            print(" ",end='')
        elif i>5:
            for l in range(10-x):
                print(" ",end='')
    print("*")

 *
  *
   *
    *
     *
                                       *
                                          *
                                            *
                                             *

In [1]:
   li=[1,2,3,4,5,6,7]

In [2]:
li

[1, 2, 3, 4, 5, 6, 7]

In [3]:
li.extend([11,12,13])

In [4]:
li

[1, 2, 3, 4, 5, 6, 7, 11, 12, 13]

In [5]:
li.insert(4,123)

In [6]:
li

[1, 2, 3, 4, 123, 5, 6, 7, 11, 12, 13]

In [1]:
newname=''
name = input('Enter Name')
lname = name.split()
size = len(lname)
for x in range(size-1):
    newname =newname + ' ' + lname[x][0]
newname =newname + ' ' + lname[size-1]
print(newname)

Enter NameKamal Sharma
 K Sharma

In [2]:
newname=''
name = input('Enter Name')
lists = name.split()
size = len(lists)
for x in range(0,size):
    if(x==0):
        newname = newname + ' ' + lists[x]
    else:
        newname = newname + ' ' + lists[x][0]
print(newname)

Enter NameAditya Singh Kanwar
 Aditya S K

In [29]:
newname=''
name=input('Enter Name')
lists=name.split()
size=len(lists)
for x in range(size,0,-1):
    newname = newname + ' ' + lists[x-1][::-1]
print(newname)

Enter NameKamal Sharma
 amrahS lamaK

In [39]:
start=0
end=4
line=''
alpha='abcdefghijklmnopqrstuvwxyz'
for x in range(10):
    line =alpha[start:end]
    print(line)
    start=start+3
    end=end+3

abcd
defg
ghij
jklm
mnop
pqrs
stuv
vwxy
yz

# 29 January

In [7]:
num = int(input("Enter the  number of rows :"))
for i in range(1,num+1):
    for j in range(1,num+1):
        if(i==1 or i==num or j==1 or j==num or i==j or i+j==num+1):
            print("* ",end="")
        else:
            print(" ",end="")
    print()

Enter the  number of rows :6
* * * * * *
* *   * *
*  * *  *
*  * *  *
* *   * *
* * * * * *

In [4]:
"Binary representation of {0} is {0:b}".format(97)                                #Convert to binary

'Binary representation of 97 is 1100001'

In [10]:
"Octal representation of {0} is {0:o}".format(14)                                 #Convert to octal

'Octal representation of 14 is 16'

In [16]:
"Hexadecimal representation of {0} is {0:x}".format(15)                           #Convert to hexadecimal

'Hexadecimal representation of 15 is f'

In [20]:
"|{:<10} | {:^20} | {:>10}|".format('butter','bread','ham')

'|butter     |        bread         |        ham|'

In [21]:
"One third is : {0: .2f}".format(1/3)

'One third is :  0.33'

In [25]:
"One third is : {0: .20f}".format(1/3)

'One third is :  0.33333333333333331483'

In [37]:
print( "What\'s there" )                                                    # to print apostofee

What's there

# Dictionary

In [38]:
mdict={}                                                                    # Method 1
type(mdict)

dict

In [39]:
mdict=dict()                                                                # Method 2
type(mdict)

dict

In [40]:
di= {1:'Ram',2:'Sohan',3:'Yogi'}

In [41]:
di[1]

'Ram'

In [42]:
di[2]

'Sohan'

In [47]:
di[4]="Kamal"

In [48]:
di

{1: 'Ram', 2: 'Sohan', 3: 'Yogi', 4: 'Kamal'}

In [49]:
di['Mohan']=99                                                              # Key is heterogeneous

In [50]:
di

{1: 'Ram', 2: 'Sohan', 3: 'Yogi', 4: 'Kamal', 'Mohan': 99}

In [52]:
di['Mohan']

99

In [57]:
di.pop(2)

'Sohan'

In [58]:
di.pop('Mohan')

99

In [59]:
di

{1: 'Ram', 3: 'Yogi', 4: 'Kamal'}

In [60]:
del di[1]                                                                       # delete

In [61]:
di

{3: 'Yogi', 4: 'Kamal'}

In [62]:
di['Kamal']=44

In [63]:
di[1]='Rohan'

In [64]:
di

{3: 'Yogi', 4: 'Kamal', 'Kamal': 44, 1: 'Rohan'}

In [65]:
di.popitem()                                                                   # Deletes the last element and returns it

(1, 'Rohan')

In [66]:
di.clear()

In [67]:
di

{}

In [80]:
di={'Ram':[33,44,80],'Mohan':[66,67,87],'Rohan':[77,89,88]}

In [81]:
di

{'Ram': [33, 44, 80], 'Mohan': [66, 67, 87], 'Rohan': [77, 89, 88]}

In [74]:
'''Make a program to
1.Add record
2.Show All
3.Search
4.Update
5.Delete
6.Exit
Enter your Choice'''
# Also find the percentage of marks obtained by the student

'Make a program\n1.Add record\n2.Show All\n3.Search\n4.Update\n5.Delete'

In [10]:
di={'Ram':[33,44,80],'Mohan':[66,67,87],'Rohan':[77,89,88]}
print('1. Add record')
print('2. Show record')
print('3. Search record')
print('4. Update Record')
print('5. Delete record')
print('6  Find Percentage')
print('7 Exit')
get=int(input("Enter the number"))
if(get==1):
    i=input("Enter the key to be stored")
    j=input("Enter the value")
    di[i]=j
    print(di)
elif(get==2):
    print(di)
elif(get==3):
    print(di)
    i=input("enter the index")
    print(di[i])
elif(get==4):
    print(di)
    i=input("enter the key to be updated")
    j=input("Enter the updated value")
    di[i]=j
    print(di)
elif(get==5):
    print(di)
    i=input("Enter the key to be deleted")
    di.pop(i)
    print(di)
elif(get==7):
    print('Exit')
elif(get==6):
    student=input(print('Enter the person you want to find percentage'))
    for x in di:
        if(x==student):
            print((di[student][0]+ di[student][1] + di[student][2])/3)

1. Add record
2. Show record
3. Search record
4. Update Record
5. Delete record
6  Find Percentage
7 Exit
Enter the number6
Enter the person you want to find percentage
NoneRam
52.333333333333336

In [4]:
di={'Ram':[33,44,80],'Mohan':[66,67,87],'Rohan':[77,89,88]}
for x in di:
    print(x)

Ram
Mohan
Rohan

In [14]:
di['Ram'][0]

33

# Make a program with Student name ,subject_name and marks

In [12]:
dict={}

In [3]:
dict={'Kamal':['Maths',70],'Aditya':["Maths",33],'Sourabh':["Maths",99]}

In [4]:
dict

{'Kamal': ['Maths', 70], 'Aditya': ['Maths', 33], 'Sourabh': ['Maths', 99]}

In [23]:
name=(input('Enter name of student'))
print("Subject" ,dict[name][0],",Marks ",dict[name][1])

Enter name of studentKamal
Subject Maths ,Marks  70

# Sir's Method

In [24]:
di = {'Ram':{'Physics':56,'Chemistry':54,'Maths':67}}

In [28]:
di={}
sdi={}
name=input('Enter Name')
subname=input('Enter Subject')
pmarks=(int)(input('Enter Marks'))
subname1=input('Enter Subject')
cmarks=(int)(input('Enter Marks'))
subname2=input('Enter Subject')
mmarks=(int)(input('Enter Marks'))
sdi[subname]=pmarks
sdi[subname1]=cmarks
sdi[subname2]=mmarks
di[name]=sdi
di

Enter Namekamal
Enter Subjectphy
Enter Marks77
Enter Subjectchem
Enter Marks88
Enter Subjectmaths
Enter Marks77

{'kamal': {'phy': 77, 'chem': 88, 'maths': 77}}

In [ ]:
'''Question 1 : We have a dictionary.....
            Names are the keys.....
            sort according to names without using any method
Question 2 : In list we have name....
            sort using merge sort....
Question 3(optional) : Create Balanced Tree in python'''

In [5]:
di={'Ram':80,'Mohan':87,'Sohan':88}

In [6]:
di

{'Ram': 80, 'Mohan': 87, 'Sohan': 88}

In [7]:
li=di.keys()

In [8]:
li

dict_keys(['Ram', 'Mohan', 'Sohan'])

In [9]:
for x in di:
    print(x[0])

R
M
S

In [13]:
di

{'Ram': 80, 'Mohan': 87, 'Sohan': 88}

# January 31

In [3]:
#Program ----
#Add Family Hierarchy

In [13]:
di={}
for x in range(5):
			m=(input('Family Member'))
			di[m]=x
            
print(di)

Family MemberGGf
Family Membergf
Family Memberf
Family Memberme
Family Memberson
{'GGf': 0, 'gf': 1, 'f': 2, 'me': 3, 'son': 4}

In [8]:
di.clear()

In [9]:
di

[]

In [24]:
nli = [12,13,[23,24,[1,2,[6,7,8],3,4],25,78],99,88]                                #Nested List
print(nli[2][2][2][1])

7

In [2]:
x=(int)(input('Enter'))
nli[2][2][2].append(x)
print(nli)

Enter34
[12, 13, [23, 24, [1, 2, [6, 7, 8, 34], 3, 4], 25, 78], 99, 88]